<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957892027188-btepbd8a89stclkpgddhc0ttvm8mgbs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957892027188-btepbd8a89stclkpgddhc0ttvm8mgbs2</string>
	<key>API_KEY</key>
	<string>AIzaSyAY5MbUTr73CW58ZSRCxSxbnPBR_p7YL7E</string>
	<key>GCM_SENDER_ID</key>
	<string>957892027188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRealTimeDatabase</string>
	<key>PROJECT_ID</key>
	<string>flutterrealdb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterrealdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957892027188:ios:630fcbc8ad08326784bb61</string>
	<key>DATABASE_URL</key>
	<string>https://flutterrealdb-default-rtdb.firebaseio.com</string>
</dict>
</plist>